body{
    font:20px Arial,sans-serif;
}


.navbar {
    background-color: antiquewhite;
}

.quem-somos{
   background-color: white;
  
}
.margin{
    padding-bottom:50px;
    padding-top:10px;
}
.parceiros{
    background-color: aqua;
    color:white;
}
.bg-footer{
    background-color: black;
    color:white;
}